.app {
    background-color: rgba(233, 233, 233, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app__title {
    margin: 0 auto;
    text-align: center;
}

.no-scroll {
    overflow: hidden;
    position: relative;
}

.app__chart {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.width50 {
    width: 50%;
}

.auto {
    margin: auto;
}

.around {
    justify-content: space-around;
}

.zero-margin {
    margin: 0;
}

.green {
    color: rgb(0, 255, 20);
}

.red {
    color: rgb(255, 0, 0);
}

.signin{
    color: rgb(0, 105, 204);
    cursor: pointer;
}

.signin:hover{
    color: rgb(0, 80, 150);
}

.add-button__container {
    position: fixed;
    top: 74px;
    right: 10px;
    z-index: 1;
    opacity: 0.7;
    transition: .3s;
}

.app__resource_info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-button__container:hover {
    opacity: 1;
}

.resources {
    margin: 10px auto 0 auto;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    grid-template-rows: 180px;
    grid-gap: 15px;
    width: min-content;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 300px) {
    .resources {
        grid-template-columns: 130px;
        grid-template-rows: 180px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 300.5px) and (max-width: 500px) {
    .resources {
        grid-template-columns: 130px 130px;
        padding-bottom: 65px;
    }
}

@media screen and (min-width: 500.5px) and (max-width: 800px) {
    .resources {
        grid-template-columns: 130px 130px 130px;
        padding-bottom: 38px;
    }
}