.app {
    background-color: rgba(233, 233, 233, 0);
    display: flex;
    flex-direction: column;
}

.app__title {
    margin: auto;
}

.no-scroll {
    overflow: hidden;
    position: relative;
}

.resources {
    margin: 10px auto 0 auto;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    grid-template-rows: 180px;
    grid-gap: 15px;
    width: min-content;
}

@media screen and (max-width: 300px) {
    .resources {
        grid-template-columns: 130px;
        grid-template-rows: 180px;
    }
}

@media screen and (min-width: 300.5px) and (max-width: 500px) {
    .resources {
        grid-template-columns: 130px 130px;
        grid-template-rows: 180px;
    }
}

@media screen and (min-width: 500.5px) and (max-width: 800px) {
    .resources {
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 180px;
    }
}