.main__title {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.resources {
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.machines {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    grid-template-rows: 180px;
    grid-gap: 15px;
    width: min-content;
}

.sources {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    grid-template-rows: 180px;
    grid-gap: 15px;
    width: min-content;
}

.resource-type__title {
    margin: 15px 0 5px 0;
    height: 20px;
    line-height: 18px;
    font-size: 17px;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Roboto', Arial, sans-serif;
}

.resource-type__title::after {
    content: ':';
}

.main__not-found-message {
    position: fixed;
    width: 140px;
    height: 26px;
    text-align: center;
    top: calc(50% - 13px);
    left: calc(50% - 85px);
    opacity: 0;
    background-color: #ccc;
    border: 1px solid #7e7e7e;
    border-radius: 7px;
    transition: opacity 0.5s linear;
}

.opened {
    opacity: 1;
    transition: opacity 0.5s linear;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
}

@media screen and (max-width: 300px) {
    .machines {
        grid-template-columns: 130px;
        grid-template-rows: 180px;
    }

    .sources {
        grid-template-columns: 130px;
        grid-template-rows: 180px;
    }

    main {
        padding-bottom: 34px;
    }
}

@media screen and (max-width: 580px) {
    .main__title {
        width: calc(100% - 55px);
        margin-right: 0;
    }
}

@media screen and (min-width: 300.5px) and (max-width: 500px) {
    .machines {
        grid-template-columns: 130px 130px;
    }

    .sources {
        grid-template-columns: 130px 130px;
    }

    main {
        padding-bottom: 47px;
    }
}

@media screen and (min-width: 500.5px) and (max-width: 800px) {
    .machines {
        grid-template-columns: 130px 130px 130px;
    }

    .sources {
        grid-template-columns: 130px 130px 130px;
    }

    main {
        padding-bottom: 32px;
    }
}