.resource {
    border: 1.5px solid rgba(128, 128, 128, 0.384);
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.resource__name {
    display: flex;
    margin: 6px 0 0 0;
    line-height: 15px;
    font-size: 13px;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 5px;
}

.resource__image {
    width: 100%;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}

.resource__200_text {
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    padding-top: 4px;
    margin: 0;
    padding-bottom: 6px;
}

.resource__status {
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    padding-top: 4px;
    margin: 0;
    padding-bottom: 6px;
    border-top: 1px solid rgba(128, 128, 128, 0.384);
}

.working {
    color: rgb(52, 245, 4);
}

.not-working {
    color: red;
}

.resource__error-text {
    line-height: 15px;
    font-size: 13px;
    display: flex;
    padding-left: 3px;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 120px;
    margin: 0;
}

.resource__memory_content {
    height: 34px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px auto 5px;
}

.no-memory {
    height: 154px;
}

.resource__button {
    background-image: url('../../images/delete-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    margin: 3px 4px 0 0;
}

.resource__button:hover {
    background-image: url('../../images/delete-icon_hover.svg');
}

.resource__name_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}

@media screen and (max-width: 500px) {
    .resource__image {
        padding: 15px;
    }
}