/* ! app */
@import url('./components/app/app.css');

/* ! cards */
@import url('./components/cards/cards.css');

/* ! about us */
@import url('./components/aboutus/aboutUs.css');

/* ! rightClickMenu */
@import url('./components/rightClickMenu/rightClickMenu.css');

/* ! resource */
@import url('./components/resource/resource.css');

/* ! preloader */
@import url('./components/preloader/preloader.css');

/* ! header */
@import url('./components/header/header.css');

/* ! main */
@import url('./components/main/main.css');

/* ! navbar */
@import url('./components/navBar/navBar.css');

/* ! navmenu */
@import url('./components/navMenu/navMenu.css');

/* ! progressbar */
@import url('./components/progressBar/progressBar.css');

/* ! popup */
@import url('./components/popup/popup.css');

/* ! footer */
@import url('./components/footer/footer.css');

/* ! watch resource */
@import url('./components/watchResource/watchResource.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}