.refresh-button__container:hover {
    opacity: 1;
}

.refresh-button__container {
    position: fixed;
    top: 74px;
    right: 10px;
    z-index: 1;
    opacity: 0.7;
    transition: .3s;
}

.watch-resource__resource_info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch-resource__chart {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    width: clamp(500px, calc(100% - 40px), 900px);
    height: clamp(250px, calc(100% - 40px), 450px);
}

.watch-resource__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.green {
    color: rgb(25, 216, 41);
}

.red {
    color: rgb(255, 0, 0);
}

.zero-margin {
    margin: 0;
}

.watch-resource__title {
    margin: 0 auto;
    text-align: center;
    cursor: default;
}

.watch-resource__title::before {
    content: 'https://';
}

@media screen and (min-width: 1149.5px) {
    .refresh-button__container {
        top: 84px;
    }
}